{# templates/navbar/welcome_navbar.html.twig #}

<nav  class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<div id="welcome" class="container-fluid">
		<a class="navbar-brand" href="#">DEY</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul id="logins" class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">About us</a>
				</li>
				<button id="in" type="button" class="btn btn-outline-danger">Log in</button>
				<button id="up" type="button" class="btn btn-outline-secondary">Sign up</button>
			</li>
		</ul>
	</div>
</nav>
