* {
    box-sizing: border-box;
}
img{
    max-width: 100px;
}
#welcome{
    justify-content: space-between;
}
#logins {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end; /* Push items to the end of the container */
    margin: 0;
}

/* Optional: Add some margin between the buttons */
#logins .nav-item {
    margin-left: 10px;
}

