<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Movie Script Creator{% endblock %}</title>
    {# Add your stylesheets and other common head elements here #}
</head>
<body>
    <header>
        <h1>Movie Script Creator</h1>
        {# Add navigation, user dropdown, etc. #}
    </header>
    <div class="content">
        {% block page_content %}{% block body %}{% endblock %}{% endblock %}
    </div>
    <footer>
        {# Add footer content if needed #}
    </footer>
</body>
</html>
