* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*  */
/*  */
/* HEADER */
/*  */
/*  */
#header {
    background-color: red;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* barre de recherche */
#recherche {
    display: flex;
    align-items: center;
    margin: 20px;
}

#recherche input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#recherche button {
    background-color: #c5c900;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* fin barre de recherche */

#compte {
    display: flex;
    flex-direction: column;
}





/* FOOTER */
/*  */
/*  */
/*  */
/*  */