{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_content %}
{% include 'navbar/logged_in_navbar.html.twig' %}
    <h2>Welcome to the Movie Script Creator Home!</h2>
    {# Add home page content here #}
{% endblock %}
