{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Welcome to the Movie Script Creator Dashboard!</h2>
    {# Add Dashboard page content here #}
{% endblock %}
