{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}
{% include 'navbar/logged_in_navbar.html.twig' %}
    <h2>Welcome to the Movie Script Creator Dashboard!</h2>
    {# Add Dashboard page content here #}
{% endblock %}
