{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block page_content %}
    <h2>Welcome to the Movie Script Creator!</h2>
    <p>Please log in or register to start creating movie scripts.</p>
    {# Add login and registration links #}
{% endblock %}
