{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block content %}
    <h2>Welcome to the Movie Script Creator page!</h2>
    {# Add <create page content here #}
{% endblock %}
