{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block page_content %}
{% include 'navbar/logged_in_navbar.html.twig' %}
    <h2>Welcome to the Movie Script Creator page!</h2>
    {# Add <create page content here #}
{% endblock %}
